nav ul li a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px #ff8000;
    color: #ffff;
    background-color: #008080;
    border-bottom: 5px solid #fd9902;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul{
    background-color: #008080; 
    margin: 0px;
    padding: 25px;
    border-radius: 10px;
}

nav {
    width: 1200px;
    margin: auto;
}

section{
    width: 1200px;
    margin: auto;
}

section article{
    width: 1000px;
    margin: 7px auto;
    background-color: #d1d1d1;
    padding: 5px;
    border-radius: 10px;
}

footer{
    width: 1200px;
    margin: 20px auto;
    text-align: center;
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
}

section article ul{
    display: inline-block;
    width: 500px;
}

section article ul li{
    list-style-type: none;
}

.miTabla, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

  .miTabla tr td{
      padding: 15px;;
  }
  
  .miTabla tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  .miTabla tr:nth-child(even) {
    background-color: #ffffff;
  }

  button{
      padding: 10px;
      background-color: #0000ff;
      border-radius: 5px;
      color: #fff;
  }



